<h1>Транспорт <%= link_to "Добавить новый Транспорт", new_transport_path, class: "btn btn-primary" %> </h1>

<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Название</th>
      <th scope="col">Модель</th>
      <th scope="col">Дата покупки</th>
      <th scope="col">Цена</th>
      <th scope="col">Страховка до</th>
      <th scope="col">Дата ТО</th>
      <th scope="col">Подробнее</th>
    </tr>
  </thead>
  <tbody>
	<% @transports.each do |transport| %>
    <tr>
      <th scope="row"><%= transport.id %></th>
      <td><%= transport.name %></td>
      <td><%= transport.description %></td>
      <td><%= transport.buy_date %></td>
      <td><%= transport.price %> zl</td>
      <td><%= transport.insurance_date %></td>
      <td><%= transport.to_date %></td>
      <td><%= link_to "Подробнее", "transports/#{transport.id}" %></td>
    </tr>
    <% end %>
  </tbody>
</table>
