<h1>Добавление нового заказчика к обьекту</h1>

<%= form_for @location_customer do |f| %>
	<%= f.label :customer_id, 'Заказчик', class: "form-label" %>
	<%= f.select(:customer_id, Customer.all.collect {|p| [ p.name, p.id ] }, {}, { class: 'form-control' }) %>
	<br>

	<%= f.hidden_field :location_id, :value => params[:location_id] %>
	
	<%= f.submit 'Добавить', class: "btn btn-primary" %>
<% end %>
