<h1>Добавление нового вида работы к обьекту</h1>

<%= form_for @location_work_type do |f| %>
	<%= f.label :work_type_id, 'Вид работы' %>
	<%= f.select(:work_type_id, WorkType.all.collect {|p| [ p.name, p.id ] })
 %>
	<br>
	<%= f.label :price, 'Цена которую платит заказчик' %>
	<%= f.text_field :price %>
	<br>
	<%= f.label :accord_price, 'Цена для рабочего' %>
	<%= f.text_field :accord_price %>
	<br>
	<%= f.label :start_date, 'Дата начала работы (дд.мм.гггг)' %>
	<%= f.date_field :start_date, :id => "datepicker" %>
	<br>
	<%= f.label :size, 'Обьем' %>
	<%= f.text_field :size %>
	<br>

	<%= f.hidden_field :location_id, :value => params[:location_id] %>
	
	<%= f.submit 'Добавить' %>
<% end %>