<h1>Дневник</h1>
<%= link_to "Добавить новую запись", new_diary_path %>

<% @diaries.each do |diary| %>
	<h1><%= diary.id %></h1>
	Название объекта: <%= diary.location_work_type.location.name %>
	<br>
	Работник: <%= diary.worker.name %>
	<br>
	Отработал часов: <%= diary.time %>
	<br>
	Сделал: <%= diary.size %> <%= diary.location_work_type.work_type.dimension %> <%= diary.location_work_type.work_type.name %>
	<br>	
<% end %>

