<h1>Добавление работника к обьекту</h1>

<%= form_for @worker_location do |f| %>

	<%= f.label :worker, 'id работника' %>
	<%= f.text_field :worker %>
	<br>
	<%= f.hidden_field :location, :value => params[:location] %>

	<%= f.submit 'Добавить' %>

<% end %>