<h1>Заказчики <%= link_to "Добавить нового заказчика", new_customer_path, class: "btn btn-primary" %> </h1>

<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">ФИО</th>
      <th scope="col">Фирма</th>
      <th scope="col">Должность</th>
      <th scope="col">Телефон</th>
      <th scope="col">EMAIL</th>
      <th scope="col">Подробнее</th>
    </tr>
  </thead>
  <tbody>
	<% @customers.each do |customer| %>
    <tr>
      <th scope="row"><%= customer.id %></th>
      <td><%= customer.name %></td>
      <td><%= customer.company %></td>
      <td><%= customer.position %></td>
      <td><%= customer.phone %></td>
      <td><%= customer.email %></td>
      <td><%= link_to "Подробнее", "customers/#{customer.id}" %></td>
    </tr>
    <% end %>
  </tbody>
</table>
