<h1><%= @customer.name %></h1>
<p>Фирма: <%= @customer.company %></p>
<p>Должность: <%= @customer.position %></p>
<p>Номер телефона: <%= @customer.phone %></p>
<p>email: <%= @customer.email %></p>

<%= link_to "Редактировать", "#{@customer.id}/edit", class: "btn btn-primary" %>

