	<h1>Редактирование зарплаты</h1>

<%= form_for @salary do |f| %>

	<%= f.label :size, 'дата выдачи зарплаты', class: "form-label" %>
	<%= f.date_field :salary_date, :id => "datepicker", class: "form-control", default: @salary.salary_date %>
	<br>
	<%= f.label :size, 'Размер зарплаты', class: "form-label" %>
	<%= f.text_field :size, class: "form-control", default: @salary.size %>
	<br>
	<%= f.hidden_field :worker_id, :value => @worker.id %>

	<%= f.submit 'Внести изменения', class: "btn btn-primary" %>

<% end %>	