<h1>Выписываем зарплату для <%= @worker.name %></h1>

<p>За <%= params[:month] %> месяц <%= @worker.name %> сделал:</p>

<%= form_for @salary do |f| %>

	<% @worker_diaries.each do |diary| %>
			
			<% if diary.accord %>
				<%= f.check_box(:diary_ids, {:multiple => true, "data-money" => "#{diary.size*diary.location_work_type.accord_price}", :onclick => "sum(salary_diary_ids_#{diary.id})"}, diary.id, nil) %>
				<%= f.label :diary_ids, "#{diary.diary_date} | #{diary.size} #{diary.location_work_type.work_type.dimension} #{diary.location_work_type.work_type.name} на обьекте: #{diary.location_work_type.location.name} | к оплате: #{diary.size*diary.location_work_type.accord_price} ", class: "form-label" %>
			<br>
			<% else %>
				<%= f.check_box(:diary_ids, {:multiple => true, "data-money" => "#{diary.time*diary.worker.rate}", :onclick => "sum(salary_diary_ids_#{diary.id})"}, diary.id, nil) %>
				<%= f.label :diary_ids, "#{diary.diary_date} | #{diary.size} #{diary.location_work_type.work_type.dimension} #{diary.location_work_type.work_type.name} на обьекте: #{diary.location_work_type.location.name} | к оплате: #{diary.time*diary.worker.rate} ", class: "form-label" %>
			<br>
			<% end %>
	<% end %>

	<br>
	<label>Рекомендуемая сумма зарплаты <label id="salary_size">0</label> злотых</label>
	<br>
	<br>

	<%= f.label :size, 'дата выдачи зарплаты', class: "form-label" %>
	<%= f.date_field :salary_date, :id => "datepicker", class: "form-control" %>
	<br>
	<%= f.label :size, 'Размер зарплаты', class: "form-label" %>
	<%= f.text_field :size, class: "form-control" %>
	<br>
	<%= f.hidden_field :worker_id, :value => @worker.id %>

	<%= f.submit 'Добавить', class: "btn btn-primary" %>
<% end %>

<script type="text/javascript">
	function sum(input) {
		if(input.checked){
			var label = document.getElementById("salary_size");
			var label_value = Number(label.innerHTML);
			var input_value = Number(input.dataset.money)
			label.innerHTML = label_value + input_value;
		} else {
			var label = document.getElementById("salary_size");
			var label_value = Number(label.innerHTML);
			var input_value = Number(input.dataset.money)
			label.innerHTML = label_value - input_value;
		}
	};
</script>
