<h1>Выписываем зарплату для <%= @worker.name %></h1>

<p>За <%= params[:month] %> месяц <%= @worker.name %> сделал:</p>

<%= form_for @salary do |f| %>

	<% @worker_diaries.each do |diary| %>
		
			<%= f.check_box(:diary_ids, {:multiple => true}, diary.id, nil) %>
			<%= f.label :diary_ids, "#{diary.diary_date} | #{diary.size} #{diary.location_work_type.work_type.dimension} #{diary.location_work_type.work_type.name} на обьекте: #{diary.location_work_type.location.name} " %>
			<br>
	
	<% end %>

	<%= f.label :size, 'дата выдачи зарплаты' %>
	<%= f.date_field :salary_date, :id => "datepicker" %>
	<br>
	<%= f.label :size, 'Размер зарплаты' %>
	<%= f.text_field :size %>
	<br>
	<%= f.hidden_field :worker_id, :value => @worker.id %>

	<%= f.submit 'Добавить' %>
<% end %>
