<h1>Добавление нового вида работы</h1>

<%= form_for @work_type do |f| %>

	<%= f.label :name, 'Название вида работы' %>
	<%= f.text_field :name %>
	<br>
	<%= f.label :price, 'Цена за 1 единицу измерения' %>
	<%= f.text_field :price %>
	<br>
	<%= f.label :dimension, 'В чём измеряется этот вид работ?' %>
	<%= f.text_field :dimension %>
	<br>

	<%= f.submit 'Добавить' %>

<% end %>
