<h1>Работники</h1>

<%= link_to "Добавить нового работника", new_worker_path %>

<% @workers.each do |worker| %>
	<h1><%= worker.id %></h1>
	ФИО работника: <%= worker.name %>
	<br>	
	Должность работника: <%= worker.position %>
	<br>
	Номер телефона работника: <%= worker.phone %>
	<br>
	EMAIL работника: <%= worker.email %>
	<br>
	статус работника: <%= worker.status %>
	<br>
	Навыки работника: <%= worker.skills %>
	<br>
	Ставка: <%= worker.rate %> злотых в час
	<br>
	Адрес проживания работника: <%= worker.adress %>
	<br>
	<p>------------------------------------------------------------</p>
<% end %>

