<h1>Добавление нового работника</h1>

<%= form_for @worker do |f| %>

	<%= f.label :name, 'ФИО Работника' %>
	<%= f.text_field :name %>
	<br>
	<%= f.label :contacts, 'Контакты работника' %>
	<%= f.text_field :contacts %>
	<br>
	<%= f.label :documents, 'Ссылка на документы работника' %>
	<%= f.text_field :documents %>
	<br>

	<%= f.submit 'Добавить' %>

<% end %>
