<h1>Добавление нового работника</h1>

<%= form_for @worker do |f| %>
	<%= f.label :name, 'ФИО работника', class: "form-label" %>
	<%= f.text_field :name, class: "form-control" %>
	<br>
	<%= f.label :position, 'Должность', class: "form-label" %>
	<%= f.text_field :position, class: "form-control" %>
	<br>
	<%= f.label :rate, 'Ставка (целое число)', class: "form-label" %>
	<%= f.text_field :rate, class: "form-control" %>
	<br>
	<%= f.label :adress, 'Адрес', class: "form-label" %>
	<%= f.text_field :adress, class: "form-control" %>
	<br>
	<%= f.label :phone, 'Номер телефона', class: "form-label" %>
	<%= f.text_field :phone, class: "form-control" %>
	<br>
	<%= f.label :email, 'Электронная почта', class: "form-label" %>
	<%= f.text_field :email, class: "form-control" %>
	<br>
	<%= f.label :status, 'Статус', class: "form-label" %>
	<%= f.text_field :status, class: "form-control" %>
	<br>
	<%= f.label :skills, 'Навыки', class: "form-label" %>
	<%= f.text_field :skills, class: "form-control" %>
	<br>
	

	<%= f.submit 'Добавить', class: "btn btn-primary" %>
<% end %>
