<h1><%= @worker.name %></h1>

	ФИО работника: <%= @worker.name %>
	<br>	
	Должность работника: <%= @worker.position %>
	<br>
	Номер телефона работника: <%= @worker.phone %>
	<br>
	EMAIL работника: <%= @worker.email %>
	<br>
	статус работника: <%= @worker.status %>
	<br>
	Навыки работника: <%= @worker.skills %>
	<br>
	Ставка: <%= @worker.rate %> злотых в час
	<br>
	Адрес проживания работника: <%= @worker.adress %>
	<br>

	<%= link_to "Редактировать", "#{@worker.id}/edit", class: "btn btn-primary" %>

	<p>Выписать зарплату:</p>

	<%= form_tag("/salaries/new", method: :get) do%>
		<p>Месяц:</p>
		<%= select_tag(:month, options_for_select("Январь" => "01","Февраль" => "02","Март" => "03","Апрель" => "04","Май" => "05","Июнь" => "06","Июль" => "07","Август" => "08","Сентябрь" => "09","Октябрь" => "10","Ноябрь" => "11","Декабрь" => "12")) %>
		<%= hidden_field_tag(:worker_id, @worker.id) %>
		<%= submit_tag("Выписать зарплату") %>
	<% end %>
