<h1>Добавление нового материала</h1>

<%= form_for @material do |f| %>
	<%= f.label :name, 'Название материала' %>
	<%= f.text_field :name %>
	<br>
	<%= f.label :dimension, 'В чем измеряется материал?' %>
	<%= f.text_field :dimension %>
	<br>

	<%= f.submit 'Добавить' %>
<% end %>

