<h1>Инструменты <%= link_to "Добавить новый инструмент", new_instrument_path, class: "btn btn-primary" %> </h1>

<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Название</th>
      <th scope="col">Модель</th>
      <th scope="col">Дата покупки</th>
      <th scope="col">Цена</th>
      <th scope="col">Подробнее</th>
    </tr>
  </thead>
  <tbody>
	<% @instruments.each do |instrument| %>
    <tr>
      <th scope="row"><%= instrument.id %></th>
      <td><%= instrument.name %></td>
      <td><%= instrument.description %></td>
      <td><%= instrument.buy_date %></td>
      <td><%= instrument.price %> zl</td>
      <td><%= link_to "Подробнее", "instruments/#{instrument.id}" %></td>
    </tr>
    <% end %>
  </tbody>
</table>

