<h1>Добавление нового объекта</h1>

<%= form_for @instrument do |f| %>
	<%= f.label :name, 'Название инструмента' %>
	<%= f.text_field :name %>
	<br>
	<%= f.label :description, 'Модель' %>
	<%= f.text_field :description %>
	<br>
	<%= f.label :buy_date, 'Дата покупки (дд.мм.гггг)' %>
	<%= f.text_field :buy_date %>
	<br>
	<%= f.label :price, 'Цена' %>
	<%= f.text_field :price %>
	<br>
	<%= f.label :location_id, 'На каком обьекте сейчас?' %>
	<%= f.select(:location_id, Location.all.collect {|p| [ p.name, p.id ] }) %>
	<br>
	<%= f.label :worker_id, 'У какого работника сейчас?' %>
	<%= f.select(:worker_id, Worker.all.collect {|p| [ p.name, p.id ] }) %>
	<br>

	<%= f.submit 'Добавить' %>
<% end %>