<h1>Инструмент <%= @instrument.name %></h1>

<p>Имя: <%= @instrument.name %></p>
<p>Модель: <%= @instrument.description %></p>
<p>Дата покупки: <%= @instrument.buy_date %></p>
<p>Цена: <%= @instrument.price %>zl</p>
<p>На объекте: <%= @instrument.location.name %></p>
<p>У работника: <%= @instrument.worker.name %></p>

<%= link_to "Редактировать", "#{@instrument.id}/edit", class: "btn btn-primary" %>