<h1>Добавление новой оплаты</h1>

<%= form_for @payout do |f| %>
	<%= f.label :size, 'Сумма', class: "form-label" %>
	<%= f.text_field :size, class: "form-control" %>
	<br>
	<%= f.label :payout_date, 'Дата оплаты', class: "form-label" %>
	<%= f.date_field :payout_date, :id => "datepicker", class: "form-control" %>
	<br>

	<%= f.hidden_field :location_work_type_id, :value => params[:location_work_type_id] %>
	
	<%= f.submit 'Добавить', class: "btn btn-primary" %>
<% end %>