<h1>Добавление вида работ к обьекту</h1>

<%= form_for @work_type_locations do |f| %>

	<%= f.label :work_type, 'id вида работ' %>
	<%= f.text_field :work_type %>
	<br>
	<%= f.hidden_field :location, :value => params[:location] %>

	<%= f.submit 'Добавить' %>

<% end %>