<h1>Объекты <%= link_to "Добавить новый объект", new_location_path, class: "btn btn-primary" %> </h1>

<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Название</th>
      <th scope="col">Адрес</th>
      <th scope="col">Дата начала</th>
      <th scope="col">Просмотр</th>
    </tr>
  </thead>
  <tbody>
  	<% @locations.each do |location| %>
    <tr>
      <th scope="row"><%= location.id %></th>
      <td><%= location.name %></td>
      <td><%= location.adress %></td>
      <td><%= location.start_date %></td>
      <td><%= link_to "Подробнее", "locations/#{location.id}" %></td>
    </tr>
    <% end %>
  </tbody>
</table>