<h1>Обьекты</h1>

<br>
<%= link_to "Добавить новый обьект", new_location_path %>
<br>

<% @locations.each do |location| %>
	<h1><%= location.id %></h1>
	<br>
	<%= location.name %>
	<br>
	<%= location.adress %>
	<br>
	<%= location.customer %>
	<br>
	<%= link_to "Подробнее", "locations/#{location.id}" %>
	<br>	
<% end %>
