<h1>Добавление нового объекта</h1>

<%= form_for @location do |f| %>
	<%= f.label :name, 'Название объекта' %>
	<%= f.text_field :name %>
	<br>
	<%= f.label :adress, 'Адрес объекта' %>
	<%= f.text_field :adress %>
	<br>
	<%= f.label :start_date, 'Дата начала работы (дд.мм.гггг)' %>
	<%= f.date_field :start_date, :id => "datepicker" %>
	<br>

	<%= f.submit 'Добавить' %>
<% end %>
