<h1><%= @location.name %></h1>
<p>Адрес: <%= @location.adress %></p>
<p>Дата начала работы: <%= @location.start_date %></p>
<h3>Заказчики:</h3>

<% @location.location_customers.each do |location_customer| %>
	<p><%= link_to "#{location_customer.customer.name}", "../customers/#{location_customer.customer.id}"  %></p>
<% end %>
<p>----------------------------------------------------------</p>
<%= link_to "Добавить заказчика", new_location_customer_path(location_id: @location.id) %>

<h3>Виды работ:</h3>

<% @location.location_work_types.each do |location_work_type| %>
	<p>Название: <%= location_work_type.work_type.name %></p>
	<p>Общий объем: <%= location_work_type.size %></p>
	<p>Цена за <%= location_work_type.work_type.dimension %>: <%= location_work_type.price %> злотых</p>
	<p>Оплата работнику за <%= location_work_type.work_type.dimension %>: <%= location_work_type.accord_price %> злотых</p>
	<p>Ожидаемый доход: <%= location_work_type.size.to_i*location_work_type.price.to_i %> злотых</p>
	<p>Прогресс: <%= location_work_type.progress %>%</p>
	<p>Дата начала работ: <%= location_work_type.start_date %></p>

	<p>Оплаты:</p>
	<% location_work_type.payouts.each do |payout| %>
		<p> <%= payout.payout_date %> | <%= payout.size %> злотых </p> 
	<% end %>

	<%= link_to "Добавить оплату", new_payout_path(location_work_type_id: location_work_type.id) %>	
	<p>----------------------------------------------------------</p>
<% end %>


<%= link_to "Добавить вид работ", new_location_work_type_path(location_id: @location.id) %>

<h4>Закупленные материалы:</h4>
	
	<% @location_materials.each do |location_material| %>
		<p>Название: <%= location_material.material.name %> </p>
		<p>Стоимость: Общая - <%= location_material.price*location_material.count %> злотых | За еденицу - <%= location_material.price %> злотых </p>
		<p>Количество: <%= location_material.count %> <%= location_material.material.dimension %> </p>
		<p>Дата покупки: <%= location_material.buy_date %> </p>
		<p>Комментарий: <%= location_material.description %> </p>
	<% end %>

	<%= link_to "Добавить материалы", new_location_material_path(location_id: @location.id) %>	