<h1><%= @location.name %></h1>
<br>
<p>Адрес: <%= @location.adress %></p>
<br>
<p>Контакты заказчика: <%= @location.customer %></p>
<br>

<h2>На этом обьекте работают:</h2>

<%= link_to "добавить работника к обьекту", new_worker_location_path(location: @location.id) %><br> 

<% @workers.each do |worker| %>
	<%= worker.id %>
	<%= worker.name %>
	<%= worker.contacts %>
	<%= worker.documents %>
	<br>
<% end %>

<h2>На этом обьекте выполняются такие виды работ:</h2>

<%= link_to "добавить вид выполняемой работы к обьекту", new_work_type_location_path(location: @location.id) %> <br>

<% @work_types.each do |work_type| %>
	<%= work_type.id %>
	<%= work_type.name %>
	<%= work_type.price %>
	<%= work_type.dimension %>
	<br>
<% end %>
