<!DOCTYPE html>
<html>
  <head>
    <title>Proga</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <% if user_signed_in? %>
    <%= current_user.email %>
    <% end %>

    <br>
    <%= link_to "Главная", root_path %>
    <br>
    <%= link_to "Объекты", locations_path %>
    <br>
    <%= link_to "Заказчики", customers_path %>
    <br>
    <%= link_to "Работники", workers_path %>
    <br>
    <%= link_to "Виды работ", work_types_path %>
    <br>
    <%= link_to "Инструменты", instruments_path %>
    <br>
    <%= link_to "Транспорт", transports_path %>
    <br>
    <%= link_to "Дневник", diaries_path %>
    <br>
    <%= link_to "Зарплаты", salaries_path %>
    <br>
    <%= link_to "Материалы", materials_path %>
    <p>---------------------------------------------------------------------------------</p>
    <%= yield %>
  </body>
</html>
